
h3
{
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgba(70, 33, 32, 0.842);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #FC4445;
  color: black;
}

.nav-Links{
  width:40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
body {
  background-color: #000000;
  color: rgb(211, 8, 8);
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
} 

button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2
{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.example:hover {
  background: red;
}

.select {
width: 400px;
margin: 3rem;

}